@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
:root {
  --vt-c-white: #ffffff;
  --background-color: #eef3ee;
  --vt-c-bg-white-item: #f8f8f8;
  --vt-c-box-shadow-white: rgb(212, 212, 212);
  --box-shadow-hover: rgb(160, 160, 160);
  --vt-c-white-soft: #f8f8f8;
  --vt-c-white-mute: #f2f2f2;
  --vt-c-button-hover-color: #387553;
  --vt-c-text-color: #42424e;
  --item-border: rgb(207, 207, 207);
  --outline: rgb(155, 155, 155);

  --primary-color: #3d9464;
  --light-primary: #a4e2bf;;
  --on-primary: #ffffff;
  --primary-container: #c3ecd5;
  --on-primary-container: #102419;

  --header-color: #102419;
  --on-header: #102419;

  --error: #B3261E;
  --on-error: #FFFFFF;
  --error-container: #F9DEDC;
  --on-error-container: #410E0B;

  --surface: #fafdf9;
  --on-surface: #1b201d;
  --surface-variant: #e5ebe3;
  --on-surface-variant: #454f49;
  --surface-container: #edf7f1;


  --vt-c-black: #181818;
  --vt-c-bg-black-item: rgb(32, 32, 32);
  --vt-c-black-soft: #222222;
  --vt-c-black-mute: #282828;
  

  --vt-c-indigo: #2c3e50;

  --vt-c-divider-light-1: rgba(60, 60, 60, 0.29);
  --vt-c-divider-light-2: rgba(60, 60, 60, 0.12);
  --vt-c-divider-dark-1: rgba(84, 84, 84, 0.65);
  --vt-c-divider-dark-2: rgba(84, 84, 84, 0.48);

  --vt-c-text-light-1: var(--vt-c-indigo);
  --vt-c-text-light-2: rgba(60, 60, 60, 0.66);
}

/* semantic color variables for this project */
:root {
  --color-background: var(--background-color);
  --color-background-soft: var(--vt-c-white-soft);
  --color-background-mute: var(--vt-c-white-mute);
  --color-bg-item: var(--surface);
  --color-box-shadow: var(--vt-c-box-shadow-white);
  --color-box-shadow-hover: var(--box-shadow-hover);
  --color-primary: var(--primary-color);
  --color-light-primary: var(--light-primary);
  --color-hover-button: var(--vt-c-button-hover-color);
  --color-on-primary: var(--on-primary);
  --color-primary-container: var(--primary-container);
  --color-item-border: var(--item-border);
  --color-error: var(--error);
  --color-error-container: var(--error-container);
  --color-outline: var(--outline);

  --surface-container-color: var(--surface-container);
  --on-surface-color: var(--on-surface);
  

  --color-border: var(--vt-c-divider-light-2);
  --color-border-hover: var(--vt-c-divider-light-1);

  --color-heading: var(--vt-c-text-light-1);
  --color-text: var(--vt-c-text-color);

  --section-gap: 160px;


  
}


*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  color: var(--color-text);
  background: var(--color-background);
  line-height: 1.6;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
