@import './base.css';



a,
.green {
  text-decoration: none;
}



body {
  height: 100vh;
}

#app {
  height: 100%;
  width: 100%;
}


.filter-input-wrapper {
  height: 38px;
  width: 200px;
  font-size: 1.2em;
  border:  solid 1px rgb(207, 207, 207);
  border-radius: 4px;
  padding: 8px;
  
}

.admin-delete-button {
  display: flex;
  border: solid 2px rgb(172, 53, 53);
  border-radius: 50px;
  align-items: center ;
  cursor: pointer;
  width: 40px;
  height: 40px;
}

.admin-delete-button:hover {
  background-color: rgb(245, 207, 207);
  transition: .3s;
}


.admin-edit-button {
  display: flex;
  border: solid 2px var(--color-primary);
  border-radius: 50px;
  align-items: center ;
  cursor: pointer;
  width: 40px;
  height: 40px;
}

.admin-edit-button:hover {
  background-color: #cce7d8;
  transition: .3s;
}