@import './base.css';



a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

body {
  height: 100vh;
}

#app {
  height: 100%;
  width: 100%;
}


.filter-input-wrapper {
  height: 38px;
  width: 200px;
  font-size: 1.2em;
  border:  solid 1px rgb(207, 207, 207);
  border-radius: 4px;
  padding: 8px;
  
}
